*{
    padding: 0;
    margin: 0;
    transition: 3s;
}

html{
    scroll-behavior:smooth;
    }

/*
========
Header
========
*/

header{
    height: 80px;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    position: sticky;
    top: 0;
}

header img{
    max-height: 80%;
}

#menu-links{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

#menu-links a{
    color: rgb(112, 109, 109);
    text-decoration: none;
    font-size: 1.3em;
}


/*
========
About
========
*/

.About{
    width: 100%;
    height: 400px;
    padding:  0 5%;
    display: block;
    margin:0;   

  
    }
    .pink{
    color: rgb(252, 69, 157);
    font-size: 1em;
    }


    .button{
    border-radius: 100rem;
    padding: 1rem;
    font-family: 'Helvetica';
    letter-spacing: 0.47px;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 3rem;
    color: #110f10;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #eb6aa6, #f17e30, #66e46d);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    }

/*
========
spalvotas boxas
========
*/

    .ColorBox{
        padding: 25px;
        display: block;
        margin:50px auto; 
        box-sizing: border-box;
        display: flex;
        width: 800px;
        height: 200px;
        overflow: hidden;
        background-image: linear-gradient(rgba(228, 93, 93, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #eb6aa6, #f17e30, #66e46d);
        border-radius: 10px;
        text-align: center;
        }
        
    /*
========
ikonos
========
*/
.ikonos {
  display: flex;
  justify-content: center;
  align-content: center;
}

.text{   
    margin: 50px;
    text-align: center;
   }

   .text2{   
    margin: 50px auto;
    text-align: justify;
    }

    /*
========
kortelės
========
*/
.korteles{
     width: 100%;
     height: 600px;
     justify-content: center;
     flex-wrap: wrap;
     gap: 10px;   
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     margin: 50px auto;
     padding: 15px;
 }
        .kortele{
        display: inline-block;
        position: relative;
        border-radius: 25px;
        background-color: #afafaf;
        border: 2px solid #28272c;
        width: 300px;
        height: 400px;
        }
        .kortelesImg{
        border-radius: 10px;
        }

/*
========
girl
========
*/

.Girl{
    width: 900px;
    height: 500px;
    padding: 25px;
    display: block;
    margin:10px auto;    
    }

/*
========
footer
========
*/
    .footer{

    }
    
    .footer2 {
    color: rgb(98, 89, 89);
    }
    .right{
    float: right;
    }
    
    .GridBox{
    width: 1000px;
    height: 400px;
    justify-content: left;
    flex-wrap: wrap;
    gap: 5px;   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px; 
    }  
    
    .SmallBox{
    display: inline-block;
    height: 63%;
    width: 100%;
    position: relative;
    text-align: center;
    }
    